*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}



.alert-info{
    display: flex;
    background-color: lightcyan;
    padding: 1em 5em;
    text-align: center;
    justify-items: center;
    justify-content:stretch;
    margin: auto;

}


.alert-info a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', serif;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Arimo', sans-serif;

}

nav{

    display: flex;

}



.nav-links{

    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    padding: 0em;
    margin: auto;

}

.nav-links li{
    align-items: stretch;
    padding: .5em 7em;
    background-color: lightgray;
    margin: .5em;

}

.header-img{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (min-width: 340px) {


    .hidden-on-desktop {
        display: none;
    }

    h1 {
        position: relative;
        bottom: 0;
        right: 31%;
    }

    nav {
        position: relative;
        top: -3.5em;
        left: 6em;

    }

    .nav-links {
        position: relative;

        left: 55%;
        display: flex;
        padding: 1px;
        margin: 5px;
    }

.nav-links li{
    align-content: space-between;
    padding: .5em 1em;
    background-color: transparent;
    margin: 0em;

}


section{
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
}



}







