


*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}



.alert-info{
    display: flex;
    background-color: lightcyan;
    padding: 1em 5em;
    text-align: center;
    justify-items: center;
    justify-content:stretch;
    margin: auto;

}


.alert-info a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', serif;
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Arimo', sans-serif;

}

nav{

    display: flex;

}



.nav-links{

    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    padding: 0em;
    margin: auto;

}

.nav-links li{
    align-items: stretch;
    padding: .5em 7em;
    background-color: lightgray;
    margin: .5em;

}

.header-img{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}













